html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none outside none;
  border: 0 none;
  outline: 0 none;
}

body {
  font-size: 15px;
  line-height: 20px;
  background-color: #f4f5f6;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

main {
  background-color: #f4f5f6;
}

.big-header {
  background-color: #f72210;
}

.none {
  display: none;
}

.header {
  background-color: #f72210;
  height: 50px;
  margin: 0;
  padding: 0;
  font: bold 14px "Roboto Condensed", sans-serif;
}

.header a {
  color: white;
}

.header-logo {
  width: 132px;
  fill: white;
}

.white-box-red-font {
  width: 71px;
  height: 26px;
  background-color: white;
  margin-left: 7px;
}

.navbar {
  width: 100%;
}

.date {
  color: white;
  display: none;
  margin-left: 10px;
}

.location {
  display: none;
  margin-left: 10px;
}

#red {
  color: #f72210;
}

#pink {
  color: #fb9a94;
  margin-left: 7px;
}

#weather-icon {
  display: none;
}

.section-card {
  background-color: white;
  margin-bottom: 15px;
  width: 100%;
}

.top-story-img {
  width: 100%;
}

.h1-title {
  color: #aaa;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

.top-story-h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: bolder;
}

.top-story-p {
  font-size: 13px;
  margin-top: -1rem;
}

.description {
  font-size: 13px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: none !important;
  font-weight: 400 !important;
}

.opinion .media-body {
  margin-top: 20px;
}

.opinion .media-body h2,
.opinion .media-body p {
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
}

.opinion .media-body p {
  font-size: 14px;
  text-transform: uppercase;
  color: #555;
}

#opinion-border-red {
  border-top: 3px solid #f72210;
  border-bottom: 3px double #aaa;
  margin-bottom: -10px;
}

#opinion-border-blue {
  border-top: 3px solid #1c87fb;
  border-bottom: 3px double #aaa;
  margin-bottom: -10px;
}

.opinion-title {
  margin-bottom: -20px;
}

.opinion-author {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5px;
}

.opinion-author span {
  font-weight: bold;
}

.opinion-author-2 {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 15px;
}

.opinion-author-2 span {
  font-weight: bold;
}

.debate-author {
  position: relative;
  top: -15px;
  right: 15px;
  width: 67px;
  height: 63px;
}

.vs span {
  height: 45px;
  width: 45px;
  line-height: 30px;
  border-radius: 30px;
  background-color: black;
  color: #d6d6d6;
  text-align: center;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
}

.newsletter-logo {
  background-color: #f72210;
  width: 29px;
  height: 28px;
}

@media (min-width: 401px) {
  #weather-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 25px;
    color: white;
  }
  #weather-icon span {
    font-family: "Roboto Condensed", sans-serif;
  }
}

@media (min-width: 481px) {
  .sign-in {
    font-size: 18px;
  }
  .white-box-red-font {
    font-size: 18px;
    width: 130px;
  }
}

@media (min-width: 641px) {
  .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */