$red:#f72210;
$white: white;
$pink: #fb9a94;
$grey: #555;
$roboto: 'Roboto Condensed',
sans-serif;
$arial: Arial,
Helvetica,
sans-serif;
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    list-style: none outside none;
    border: 0 none;
    outline: 0 none;
}

body {
    font-size: 15px;
    line-height: 20px;
    background-color: #f4f5f6;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

section {
    background-color: #f4f5f6;
}

.big-header {
    background-color: $red;
}

.none {
    display: none;
}

.header {
    background-color: $red;
    height: 50px;
    margin: 0;
    padding: 0;
    font: bold 14px $roboto;
    a {
        color: $white;
    }
}

.header-logo {
    width: 132px;
    fill: $white;
}

.white-box-red-font {
    width: 71px;
    height: 26px;
    background-color: $white;
    margin-left: 7px;
}

.navbar {
    width: 100%;
}

.date {
    color: $white;
    display: none;
    margin-left: 10px;
}

.location {
    display: none;
    margin-left: 10px;
}

#red {
    color: $red;
}

#pink {
    color: $pink;
    margin-left: 7px;
}

#weather-icon {
    display: none;
}

.top-story {
    background-color: $white;
    width: 100%;
}

.top-story-img {
    width: 100%;
}

.top-story-title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 1rem;
}

.top-story-h2 {
    font-family: $roboto;
    font-size: 22px;
    font-weight: bolder;
}

.top-story-p {
    font-size: 13px;
    margin-top: -1rem;
}

.block-container {
    margin-bottom: 10px;
}

.opinion {
    .media-body {
        margin-top: 20px;
        h2,
        p {
            font-size: 17px;
            font-family: $roboto;
            font-weight: bolder;
        }
        p {
            font-size: 14px;
            text-transform: uppercase;
            color: $grey;
        }
    }
}

.opinion-title {
    margin-bottom: -20px;
}

// 
@media (min-width: 401px) {
    #weather-icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 25px;
        color: $white;
        span {
            font-family: $roboto;
        }
    }
}

@media (min-width: 481px) {
    .sign-in {
        font-size: 18px;
    }
    .white-box-red-font {
        font-size: 18px;
        width: 130px;
    }
}

@media (min-width: 641px) {
    .location {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
}

// medium size
@media (min-width: 768px) {}

// large size
@media (min-width: 992px) {
    //here will be another config for the navba
}

// extra large size
@media (min-width: 1200px) {}